#footer {
    height: 80px;
    font-size: 12px;
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    text-shadow: 0 1px #fff;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    .outer {
        padding: 10px 30px;
    }
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}